body {
    background-color: whitesmoke;
    font-family: 'Krub', sans-serif;
}

button {
  width: 150px;
  margin-right: 1rem;
  border: 2px solid darkgrey;
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem 1rem;

  &.btnOk {
    border: 2px solid darkslategray;
  }

}

label {
    display: block;
    margin-bottom: 0.5rem;

    input {
      position: absolute;
      margin-left: 0.5rem;
      width: 300px;
      left: 100px;
    }
}



.goToBtn {
  width: 115px;
  margin-left: 1rem;
}

.nameSpan {
  color: darkslategrey;
  font-weight: 700;
  text-transform: uppercase;

  &.unni {
    color: rgb(253, 36, 220)
  }
}

.inloggedUserDiv {

  input {
    margin-left: 0.5rem;
    width: 300px;
    left: 0;
  }
  label {
    margin: 1rem 0 0 0;
  }
  textarea {
    resize: none;
  }

  button {
    margin-top: 1rem;
  }
}
