body {
    background-color: whitesmoke;
    font-family: 'Krub', sans-serif;
}

header {

  button {
    width: 150px;
  }
    span {
        padding-right: 1rem;

        &.active {
          font-weight: 700;
        }
    }
}

label {
    display: block;
    margin-bottom: 0.5rem;

    input {
        margin-left: 0.5rem;
    }
}

button {
    padding: 0.5rem 1rem;
    
}

.nameSpan {
  color: darkslategrey;
  font-weight: 700;
  text-transform: uppercase;
}
