body {
    background-color: whitesmoke;
    font-family: 'Krub', sans-serif;
}

button {
  width: 150px;
  margin-right: 1rem;
  border: 2px solid darkgrey;
  border-radius: 10px;
}


label {
    display: block;
    margin-bottom: 0.5rem;

    input {
        margin-left: 0.5rem;
    }
}

button {
    padding: 0.5rem 1rem;
    
}

.nameSpan {
  color: darkslategrey;
  font-weight: 700;
  text-transform: uppercase;

  .unni {
    color: rgb(253, 36, 220)
  }
}
